html, body {
  margin: 0;
  padding: 0;
}

.list-items {
  font-size: small;
  margin: 0;
}

.footerbar {
  position: fixed;
  bottom: 0; 
  width: 90%;
}

.btn-circle.btn-xl { 
  width: 70px; 
  height: 70px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  font-size: 12px; 
  text-align: center; 
} 

.list-group {
  margin-bottom: 80px; 
}

.infoblocks {
  display: flex;
}

.info-btns {
  margin: 5px;
}